.navbar-static-top {
  margin-bottom: 19px;
  background-color: #AA0000;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.navbar-default a.navbar-brand:focus,
.navbar-default a.navbar-brand:hover {
  color: #EBECED;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #FFFFFF;
  background-color: #CC0000;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #2B2B2B;
}

/* Sticky footer styles
------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-bottom: 20px;
  background-color: #DFE1E1;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #AA0000;
  color: #EBECED;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 0 15px 0;
  color: #252525;
  font-family: Merriweather, OpenSans;
}
.container .footer_text {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.top20 {
  margin-top: 20px;
}

.page-header {
  border-bottom: 1px solid #252525;
}
